@page main {
    width: 276mm;
    height: 376mm;
    margin: 0;
    padding: 0;
}

html {
    page: main;
    padding: 0;
    margin: 0;
    width: 276mm;
    height: 376mm;
    background-size: 252mm 348mm;
}

@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v14/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

html#analog {
    background: url(gold_front.png) no-repeat center;
}

html#digital {
    background: url(blue_front.png) no-repeat center;
}

html#power {
    background: url(green_front.png) no-repeat center;
}

body {
    padding: 0;
    margin: 0;
    position: relative;
}

h1 {
    position: absolute;
    left: 29mm;
    right: 29mm;
    top: 9mm;
    height: 20mm;
    padding: 5mm 2mm 0 0;
    font-family: Orbitron;
    font-variant: small-caps;
    font-size: 17mm;
    text-align: left;
}

h2 {
    position: absolute;
    left: 29mm;
    right: 29mm;
    top: 15mm;
    height: 20mm;
    padding: 5mm 2mm 0 0;
    font-family: Orbitron;
    font-variant: small-caps;
    font-size: 14mm;
    text-align: left;
}

#image {
    position: absolute;
    left: 35mm;
    top: 74mm;
    height: 118mm;
    width: 206mm;    
    text-align: center;
    line-height: 86.9mm;
    display: table;
}

#image img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    max-height: 118mm;
    max-width: 206mm;
    margin: auto;
}

#description {
    position: absolute;
    top: 208mm;
    height: 117mm;
    left: 32mm;
    right: 32mm;
    font-size: 8mm;
    font-family: Open Sans;
    padding: 1mm 4mm;
}

#description p {
    margin: 0 0 0.75em 0;
    padding: 0;
}

img.equation {
    vertical-align: middle;
}

#cardno {
    position: absolute;
    top: 360mm;
    left: 100mm;
    width: 24mm;
    font-family: Orbitron;
    font-size: 15mm;
    text-align: left;
}

#totalcards {
    position: absolute;
    top: 360mm;
    right: 97mm;
    width: 24mm;
    font-family: Orbitron;
    font-size: 15mm;
    text-align: right;
}

#gold #totalcards, #gold #cardno {
    color: #D3840B;
}
